body {
    font-family: Arial;
    text-align: center;
}

nav {
    margin: 20px;
}

a {
    text-decoration: none;
    margin: 10px;
    color: blue;
}

footer {
    margin-top: 20px;
}
